Intermediate/CachedAssetRegistry_0.bin
Intermediate/PipInstall/lib/site-packages/plugin_site_package.pth
Saved/AutoScreenshot.png
Saved/Autosaves/Game/_Main/BluePrints/BP_FirstPersonCharacter_Auto0.uasset
Saved/Autosaves/Game/_Main/BluePrints/BP_FirstPersonCharacter_Auto1.uasset
Saved/Autosaves/Game/_Main/BluePrints/BP_FirstPersonCharacter_Auto2.uasset
Saved/Autosaves/Game/_Main/BluePrints/BP_FirstPersonCharacter_Auto4.uasset
Saved/Autosaves/Game/_Main/BluePrints/BP_FirstPersonCharacter_Auto6.uasset
Saved/Autosaves/Game/_Main/Maps/Stylized_Egypt_Demo_Auto3.umap
Saved/Autosaves/Game/_Main/Maps/Stylized_Egypt_Demo_Auto7.umap
Saved/Autosaves/Game/_Main/Maps/Stylized_Egypt_Demo_Auto8.umap
Saved/Autosaves/PackageRestoreData.json
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Saved/Logs/CS415.log
Saved/Logs/CS415_2.log
Saved/Telemetry/Telemetry.json